.onbording {
  width: 60%;
  margin: auto;
  color: $brownish;
  text-align: center;
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 100vh;
  border-radius: 45.653px;

  @media only screen and (max-width: 800px) {
    width: 100%;
    margin-top: 0;
  }
  .btn-get-started {
    background-color: $blueish;
    width: 35%;
    margin: auto;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    @media only screen and (max-width: 800px) {
      width: 70%;
    }
  }
  img {
    width: 300px;
    margin: auto;
  }
}
