.on-boarding-next {
  color: #664a09;
  text-align: center;
  width: 100%;
  margin: 30px auto;
  .hero {
    background: url("../../assets/holdhndart-21\ 1.png");
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 30vh;
    h1 {
      font-size: 45px;
      text-align: center;
      color: #227fa2;
      width: 25%;
      margin: auto;
      @media only screen and (max-width: 800px) {
        width: 90%;
        font-size: 30px;
        text-align: left;
      }
    }
    @media only screen and (max-width: 800px) {
        padding-top: 40vh;
      }
  }
  .btn-signup {
    background-color: #227fa2;
    width: 35%;
    margin: 30px auto;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    @media only screen and (max-width: 800px) {
      width: 90%;
    }
  }

  .bottom {
    width: 35%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: 800px) {
      width: 90%;
    }
    p {
      color: #000;
      margin: 0;
    }
    .btn-signin {
      background-color: #f57156;
      border: none;
      padding: 10px;
      color: #fff;
      border-radius: 10px;
      width: 50%;
    }
  }
}
