.onbording {
  width: 60%;
  margin: auto;
  color: #664a09;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 45.653px;

  @media only screen and (max-width: 800px) {
    width: 100%;
  }
  .btn-get-started {
    background-color: #227fa2;
    width: 70%;
    margin: auto;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
  }
  img {
    width: 200px;
    margin: auto;
    @media only screen and (max-width: 800px) {
      height: 60vh;
      width: 70vw;
      margin-top: 100px;
    }
  }
}
